head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='width=device-width, initial-scale=1')
    title OAuth in Action: OAuth Authorization Server

    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    style
      | body { padding-top: 60px;
      | .navbar-inverse { background-color: #322; }
